<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>

<%= render "author" %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
