<!DOCTYPE html>
<html>
  <header class="header">
    <title>PersonalBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </header>
  
  <body>
    <div class="main">
      <%= yield %>
    </div>
  </body>

  <footer class="footer">
    <span class="footer__copyright">Copyright ©2024.</span>
  </footer>
</html>